<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="78MikeDeveloper.GtPress" Publisher="CN=357B5427-7D84-4292-A7BA-E012F9D3E988" Version="1.0.0.0" />
  <Properties>
    <DisplayName>GtPress</DisplayName>
    <PublisherDisplayName>Mike Developer</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GtPressApp.App">
      <VisualElements DisplayName="GtPress" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="GtPressApp" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>